/* Apply Tailwind classes for styling */
.dropdown-button {
    background: burlywood;
  }
  
  .dropdown-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
  }
  
  .dropdown-content.open {
    max-height: 1000px; /* Set this value to a sufficiently large value to allow the content to expand fully */
  }